body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
  }
  
  main {
    flex-grow: 1;
  }
  
  @media screen and (max-width: 600px) {
    .buttons {
      text-align: center;
    }
  }
  @media screen and (max-width: 600px) {
    button .text {
      display: none;
    }
  }
  @media screen and (min-width: 600px) {
    button .text {
      display: inside;
    }
    .buttons {
      text-align: center;
    }
    body {
      flex-direction: column;
    }
  }
  